## def

In [56]:
import pandas as pd
import numpy as np

In [ ]:
'''

def add(a, b) : # a, b는 매개변수 함수정의. 설계... 함수정의부의 params
    return a+b

print(add(3,4)) 함수 호출 3,4 인수... 함수 호출부의 argument

carculator라는 클래스에 부속되어 잇는 add라는 함수, 메소드

----------------

매개변수를 지정하여 호출하기

def sub(a, b):
     retirm a - b

'''

In [57]:
def add_many(*args): # 매개변수를 tupe로 받으라는 규칙 : *args, IT분야에서 *은 여러 개의 자료형..
    print(type(args))
    result = 0
    for i in args:
        result = result + i # *args에 입력받은 모든 값을 더한다.
    return result

# iterator 반복자

result = add_many(1,2,3)
print(result)

print('*'*80)

result = add_many(1,2,3,4,5,6,7,8,9,10)
print(result)

<class 'tuple'>
6
********************************************************************************
<class 'tuple'>
55

In [58]:
def print_n_times(n, *values):  #values는 가변매개변수인데 항상 뒤에 와야함. 그래야 오류가 안남
    for i in range(n):
        
        print(type(values))
        for value in values:
            print(value)
            
        print()
        
        
print_n_times(3, '안녕하세요', '즐거운', '파이썬 프로그래밍')

# 두번째 매개변수 #values에 안녕하세요 즐거운 파이썬 프로그래밍이 대응된다.
# n=3

<class 'tuple'>
안녕하세요
즐거운
파이썬 프로그래밍

<class 'tuple'>
안녕하세요
즐거운
파이썬 프로그래밍

<class 'tuple'>
안녕하세요
즐거운
파이썬 프로그래밍

In [59]:
def print_n_times(value, n=3) :
                  # n번 반복함\
    for i in range(n):
        print(value)
        
print_n_times('안녕하세요')

안녕하세요
안녕하세요
안녕하세요

In [60]:
def print_n_times(*values, n=2):            #n번 반복함
    for i in range(n):                      # values는 리스트처럼 활용한다
        for value in values:                
            print(value)                   
            
        print()                            # 단순한 줄바꿈
        
        # 함수 호출
print_n_times('안녕하세요', '즐거운', '파이썬프로그래밍',)

안녕하세요
즐거운
파이썬프로그래밍

안녕하세요
즐거운
파이썬프로그래밍

## p.6

In [61]:
def print_n_times(*values ,n=3 ):
    for i in range(n):
        for value in values:
            print(value)
            
        print()
        
print_n_times('안녕하세요', '즐거운', '파이썬 프로그래밍', n=3) # n=3은 키워드 인수. 위의 매개변수3에 대한 인수이다.

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

안녕하세요
즐거운
파이썬 프로그래밍

In [62]:
def test(a, b=10, c=100):
    print(a+b+c)
    
#1) 기본 형태
test(10,20,30)

#2) 키워드 매개변수로 모든 매개변수를 지정한 형태
test(a=10, b=100, c=200)

#3) 키워드 매개변수로 모든 매개변수를 마구잡이로 지정한 형태
test(c=10, a=100, b=200)

#4) 키워드 매개변수로 일부 매개변수만 지정한 형태
test(10, c=200)

60
310
310
220

## for문

In [96]:
for front in range(1,10):
    for back in range(1, 10):
        print(back, 'x', front, " = ", front*back, end='\t')
    print('\n')
print()



#print('*'*80)
#
#for front in range(1,10):
#    for back in range(4, 7):
#        print(back, 'x', front, " = ", front*back, end='\t')
#    print('\n')
#print()
#
#print('*'*80)
#
#for front in range(1,10):
#    for back in range(7, 10):
#        print(back, 'x', front, " = ", front*back, end='\t')
#    print('\n')
#print()

1 x 1  =  1	2 x 1  =  2	3 x 1  =  3	4 x 1  =  4	5 x 1  =  5	6 x 1  =  6	7 x 1  =  7	8 x 1  =  8	9 x 1  =  9

1 x 2  =  2	2 x 2  =  4	3 x 2  =  6	4 x 2  =  8	5 x 2  =  10	6 x 2  =  12	7 x 2  =  14	8 x 2  =  16	9 x 2  =  18

1 x 3  =  3	2 x 3  =  6	3 x 3  =  9	4 x 3  =  12	5 x 3  =  15	6 x 3  =  18	7 x 3  =  21	8 x 3  =  24	9 x 3  =  27

1 x 4  =  4	2 x 4  =  8	3 x 4  =  12	4 x 4  =  16	5 x 4  =  20	6 x 4  =  24	7 x 4  =  28	8 x 4  =  32	9 x 4  =  36

1 x 5  =  5	2 x 5  =  10	3 x 5  =  15	4 x 5  =  20	5 x 5  =  25	6 x 5  =  30	7 x 5  =  35	8 x 5  =  40	9 x 5  =  45

1 x 6  =  6	2 x 6  =  12	3 x 6  =  18	4 x 6  =  24	5 x 6  =  30	6 x 6  =  36	7 x 6  =  42	8 x 6  =  48	9 x 6  =  54

1 x 7  =  7	2 x 7  =  14	3 x 7  =  21	4 x 7  =  28	5 x 7  =  35	6 x 7  =  42	7 x 7  =  49	8 x 7  =  56	9 x 7  =  63

1 x 8  =  8	2 x 8  =  16	3 x 8  =  24	4 x 8  =  32	5 x 8  =  40	6 x 8  =  48	7 x 8  =  56	8 x 8  =  64	9 x 8  =  72

1 x 9  =  9	2 x 9  =  18	3 x 9  =  27	4 x 9  =  36	5 x 9  =  45	6 x 9  =  54	7 x 9  =  63	8 x 9  =  72	9 x 9  =  81

In [97]:
for i in range(1, 10, 3): #외측for문
    for k in range(1, 10, 1): #내측for문
        print("%d * %d = %d \t %d * %d = %d \t %d * %d = %d "
              %(i, k, i*k, i+1,k,(i+1)*k, i+2, k, (i+2)*k ))
        print('')

1 * 1 = 1 	 2 * 1 = 2 	 3 * 1 = 3

1 * 2 = 2 	 2 * 2 = 4 	 3 * 2 = 6

1 * 3 = 3 	 2 * 3 = 6 	 3 * 3 = 9

1 * 4 = 4 	 2 * 4 = 8 	 3 * 4 = 12

1 * 5 = 5 	 2 * 5 = 10 	 3 * 5 = 15

1 * 6 = 6 	 2 * 6 = 12 	 3 * 6 = 18

1 * 7 = 7 	 2 * 7 = 14 	 3 * 7 = 21

1 * 8 = 8 	 2 * 8 = 16 	 3 * 8 = 24

1 * 9 = 9 	 2 * 9 = 18 	 3 * 9 = 27

4 * 1 = 4 	 5 * 1 = 5 	 6 * 1 = 6

4 * 2 = 8 	 5 * 2 = 10 	 6 * 2 = 12

4 * 3 = 12 	 5 * 3 = 15 	 6 * 3 = 18

4 * 4 = 16 	 5 * 4 = 20 	 6 * 4 = 24

4 * 5 = 20 	 5 * 5 = 25 	 6 * 5 = 30

4 * 6 = 24 	 5 * 6 = 30 	 6 * 6 = 36

4 * 7 = 28 	 5 * 7 = 35 	 6 * 7 = 42

4 * 8 = 32 	 5 * 8 = 40 	 6 * 8 = 48

4 * 9 = 36 	 5 * 9 = 45 	 6 * 9 = 54

7 * 1 = 7 	 8 * 1 = 8 	 9 * 1 = 9

7 * 2 = 14 	 8 * 2 = 16 	 9 * 2 = 18

7 * 3 = 21 	 8 * 3 = 24 	 9 * 3 = 27

7 * 4 = 28 	 8 * 4 = 32 	 9 * 4 = 36

7 * 5 = 35 	 8 * 5 = 40 	 9 * 5 = 45

7 * 6 = 42 	 8 * 6 = 48 	 9 * 6 = 54

7 * 7 = 49 	 8 * 7 = 56 	 9 * 7 = 63

7 * 8 = 56 	 8 * 8 = 64 	 9 * 8 = 72

7 * 9 = 63 	 8 * 9 = 72 	 9 * 9 = 81

In [99]:
for i in range(1, 10, 3) :
    for j in range(1,10) :
        print(f'{i} * {j} = {i*j}, {i+1} * {j} = {(i+1)*j} {i+2} * {j} = {(i+2)*j}')
        print()

1 * 1 = 1, 2 * 1 = 2 3 * 1 = 3

1 * 2 = 2, 2 * 2 = 4 3 * 2 = 6

1 * 3 = 3, 2 * 3 = 6 3 * 3 = 9

1 * 4 = 4, 2 * 4 = 8 3 * 4 = 12

1 * 5 = 5, 2 * 5 = 10 3 * 5 = 15

1 * 6 = 6, 2 * 6 = 12 3 * 6 = 18

1 * 7 = 7, 2 * 7 = 14 3 * 7 = 21

1 * 8 = 8, 2 * 8 = 16 3 * 8 = 24

1 * 9 = 9, 2 * 9 = 18 3 * 9 = 27

4 * 1 = 4, 5 * 1 = 5 6 * 1 = 6

4 * 2 = 8, 5 * 2 = 10 6 * 2 = 12

4 * 3 = 12, 5 * 3 = 15 6 * 3 = 18

4 * 4 = 16, 5 * 4 = 20 6 * 4 = 24

4 * 5 = 20, 5 * 5 = 25 6 * 5 = 30

4 * 6 = 24, 5 * 6 = 30 6 * 6 = 36

4 * 7 = 28, 5 * 7 = 35 6 * 7 = 42

4 * 8 = 32, 5 * 8 = 40 6 * 8 = 48

4 * 9 = 36, 5 * 9 = 45 6 * 9 = 54

7 * 1 = 7, 8 * 1 = 8 9 * 1 = 9

7 * 2 = 14, 8 * 2 = 16 9 * 2 = 18

7 * 3 = 21, 8 * 3 = 24 9 * 3 = 27

7 * 4 = 28, 8 * 4 = 32 9 * 4 = 36

7 * 5 = 35, 8 * 5 = 40 9 * 5 = 45

7 * 6 = 42, 8 * 6 = 48 9 * 6 = 54

7 * 7 = 49, 8 * 7 = 56 9 * 7 = 63

7 * 8 = 56, 8 * 8 = 64 9 * 8 = 72

7 * 9 = 63, 8 * 9 = 72 9 * 9 = 81

## *(aesterrisk) 만들기

In [101]:
for i in range(1, 4):
    for j in range(i):
        print('★', end='')
    print()

print('*'*80)

for i in range(3, 0, -1):
    for j in range(i):
        print('★', end='')
    print()

★
★★
★★★
********************************************************************************
★★★
★★
★

In [102]:
for i in range(1, 4):
    for j in range(i):
        print('*', end='')
    print()
    
for i in range(3, 0, -1):
    for j in range(i):
        print('*', end='')
    print()

*
**
***
***
**
*