In [1]:
class Parent :
    
    def __init__(self, name, job):
        self.name = name
        self.job = job
        
    def display(self):
        print('name : %s, job : %s' % (self.name, self.job))
        
p = Parent('홍길동', '회사원')
p.display()

class Children(Parent):
    gender=None
    
    def __init__(self, name, job, gender):
        self.name = name
        self.job = job
        self. gender = gender
        
    def display(self):
        print('name : %s, job : %s, gender : %s' % (self.name, self.job, self.gender))
        
chil = Children('이순신', '해군 장군', '남자')
chil.display()

name : 홍길동, job : 회사원
name : 이순신, job : 해군 장군, gender : 남자

In [ ]:
class Calc_class:
    x = y = 0
    
    def __init__(self,a,b):
        self.x = a
        self.y = b
        
    def div(self):
        if self.x == 0 or self.y == 0:
            return '나눗셈 연산은 0으로 나누기가 불가능합니다. 다시 입력하세요.'
        else:
            return self.x / self.y
        
    def squ(self):
        return self.x ** self.y

In [7]:
class Employee:
    name = None
    pay = 0
    
    def __init__(self, name):
        self.name = name
        
    def pay_calc(self):
        pass
    
class Permanent (Employee):
    def __init__(self, name):
        self.name= name
        
    def pay_calc(self, base, bonus):
        self.pay = base + bonus
        print('총 수령액 : ', format(self.pay, '3,d'), '원')
        
class Temporary(Employee):
    def __init__(self,name):
        self.name = name
        
    def pay_calc(self, tpay, time):
        self.pay = tpay * time
        print('총 수령액 : ',format(self.pay, '3,d'), '원')
        
class Alba(Employee):
    def __init__(self, name):
        self.name = name
        
    def pay_calc(self, tpay, time):
        self.pay = tpay * time
        if time >= 160:
            self.pay = tpay * time + 8 * tpay
        else:
            self.pay = tpay * time
            
        print(f'총 수령액 : ', format(self.pay, '3,d'), '원')
        
        
p = Permanent('이순신')
p.pay_calc(3000000, 200000)

t = Temporary('홍길동')
t.pay_calc(15000, 80)

a = Alba('김형경')
a.pay_calc(20000, 160)

총 수령액 :  3,200,000 원
총 수령액 :  1,200,000 원
총 수령액 :  3,360,000 원

In [10]:
class Super :
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def display(self):
        print('name : %s, age : %d' % (self.name, self.age))
        
sup = Super('부모', 55)
sup.display()

class Sub(Super):
    gender = None
    
    def __init__(self, name, age, gender):
        self.name = name
        self.age = age
        self.gender = gender
        
    def display(self):
        print('name : %s, age : %d, gender : %s' % (self.name, self.age, self.gender))
        
sub = Sub('자식', 25, '여자')
sub.display()

name : 부모, age : 55
name : 자식, age : 25, gender : 여자

In [15]:
class Account:
    __balance = 0 # 잔액
    __accName = None # 예금주
    __accNo = None # 계좌번호
    
    def __init__(self, bal, name, no):
        self.__balance = bal # 잔액초기화
        self.__accName= name # 예금주
        self.__accNo = no # 계좌번호
        
    # Getter 메서드
    def getBalance(self):
        return self.__balance, self.__accName, self.__accNo
    
    # Setter
    def deposit(self,money):
        if money < 0 :
            print('금액 확인')
            return
        self.__balance += money
        
    def withdraw(self, money):
        if self.__balance < money : ##<<<<<<<<<<<<<<<<<<<<<<< 은닉이 풀린건가요?
            print('잔액 부족')
            return
        self.__balance -= money
#object        
acc = Account (1000, '홍길동', '125-152-4125-41')

#getter
bal = acc._Account__balance
print('계좌정보 : ', bal)

#setter
acc.deposit(10000)
bal = acc.getBalance()
print('계좌정보 : ', bal)

계좌정보 :  1000
계좌정보 :  (11000, '홍길동', '125-152-4125-41')

In [4]:
class Employee:
    name = None
    pay=0
    
    def __init__(self, name):
        self.name = name
        
    def pay_calc(self):
        pass
    
class Permanent (Employee):
    def __init__(self,name):
        self.name= name
        
    def pay_calc(self, base, bonus):
        self.pay = base + bonus
        print('총 수령액 : %d ' % (self.pay))
        
class Temporary(Employee):
    def __init__(self, name):
        self.name = name
        
    def pay_calc(self, tpay, time):
        self.pay = tpay * time
        print('총 수령액 : %d ' % (self.pay))
        
class Alba(Employee):
    def __init__(self, name):
        self.name = name
        
    def pay_calc(self, tpay, time):
        self.pay = tpay * time
        if time >= 160 :
            self.pay = tpay * time + 8 * tpay
        else:
            self.pay= tpay * time
            
        print(f'총 수령액 ' , format(self.pay, '3,d'), '원')
        
p = Permanent('이순신')
p.pay_calc(3000000, 200000)

t = Temporary('홍길동')
t.pay_calc(15000, 80)
    
    
a = Alba('김형경')
a.pay_calc(20000, 160)

총 수령액 : 3200000
총 수령액 : 1200000
총 수령액  3,360,000 원

In [7]:
import pymysql

print(pymysql.version_info)

config = {
    'host' : '127.0.0.1',
    'user' : 'root',
    'password' : 'root1234',
    'database' : 'work',
    'port' : 3306,
    'charset' : 'utf8',
    'use_unicode' : True }
    
try :
    conn = pymysql.connect(**config)
    cursor = conn.cursor()
    
    sql = 'show tables'
    cursor.execute(sql)
    tables = cursor.fetchall()
    
    print(tables)
    if tables:
        print('table 있음')
    else:
        print('table 없음')
except Exception as e :
    print('db error : ', e)
    
finally:
    cursor.close()
    conn.close()

(1, 4, 6, 'final', 1)
(('goods',),)
table 있음

In [1]:
''' CRUD : Create, Read, Update, Delete '''

import pymysql

config = {
    'host' : '127.0.0.1',
    'user' : 'root',
    'password' : 'root1234',
    'database' : 'work',
    'port' : 3306,
    'charset' : 'utf8',
    'use_unicode' : True}
try :
    conn = pymysql.connect(**config)
    cursor = conn.cursor()
    
    # (1) table 생성
    sql = '''create table goods(
                    code int primary key,
                    name varchar(30) not null,
                    su int default 0,
                    dan int default 0
                    )'''
                    
    # (2) 레코드 추가
    code = int(input('코드 입력 : '))
    name = input('상품명 입력 : ')
    su = int(input('수량 입력 : '))
    dan = int(input('단가 입력 : '))
    
    sql = f'insert into goods values({code}, "{name}", {su}, {dan})'
    cursor.execute(sql)
    conn.commit()
    
    # (3) 전체 목록 보기
    sql = 'select * from goods'
    cursor.execute(sql) #sql문 실행
    rows = cursor.fetchall() # 전체검색
    
    # 레코드 출력 : 양식문자
    for r in rows : #fetchone()
        #print(r) #tuple type 출력
        print('%d %s %d %d' %r)
        
        print('검색 레코드 수 : ', len(rows))
        
    # (4) 상품명 조회
    in_name = input('\n조회할 상품명 입력 : ')
    sql = f'select * from goods where name like "%d{in_name}%" '
    cursor.execute(sql) # sql문 실행
    rows = cursor.fetchall()
    
    if rows :
        # 레코드 1개 출력 : index 이용
        for r in rows:
            print(r[0], r[1], r[2], r[3])
    else :
        print('해당 상품 없음')
        
except Exception as e :
    print('db 연동 오류 : ', e)
    # (5) 이전 상태 리턴
    conn.rollback()
finally:
    cursor.close()
    conn.close()

In [2]:
import os
import sys
import pymysql 
config = {
    'host' : '127.0.0.1',
    'user' : 'root',
    'password' : 'root1234',
    'database' : 'work',
    'port' : 3306,
    'charset' : 'utf8',
    'use_unicode' : True
}

def mem_create() :
    try:
        conn = pymysql.connect(**config)
        cursor = conn.cursor()
        
        in_name = input('상품명을 입력하세요 : ')
        if in_name :
            sql = f'select * from goods where NAME = "{in_name}"'
            cursor.execute(sql)
            
            rows = cursor.fetchall()
            if len(rows) > 0 :
                print('이미 존재하고 있습니다. 다른 코드를 입력하세요')
            else :
                sql = f'insert into good values("{in_name}")'
                cursor.execute(sql)
                rows = cursor.fetchall()
                conn.commit()
                print('상품명 등록에 성공했습니다.')
                print()
        else :
            print('상품명 등록을 위해 상품명을 입력해 주세요')
    except Exception as e :
        print('db 연동 실패 : ', e)
        conn.rollback() 
    finally:
        cursor.close()
        conn.close()
        
def mem_read1():
    try :
        conn = pymysql.connect(**config)
        cursor = conn.cursor()
        
        cursor.execute('select * from goods')
        rows = cursor.fetchall()
        print('===goods 테이블 조회1===')
        print('(name)')
        for row in rows:
            print(row)
            
    except Exception as e :
        print('db 연동 실패 : ', e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
        
def mem_read2() :
    try :
        conn = pymysql.connect(**config)
        cursor = conn.cursor()
        
        in_code = input('조회할 상품명을 입력하세요 : ')
        sql = f'select * from goods where NAME = "{in_code}"'
        cursor.execute(sql)
        rows = cursor.fetchall()
        
        if len(rows) > 0 :
            print('===goods 테이블 조회2===')
            for row in rows :
                print('조회 결과는 상품명 : {} 입니다.'.format(row[0]))
        else :
            print('조회 결과 입력한 상품명에 맞는 상품이 없습니다.')
    except Exception as e:
        print('db 연동 실패 : ', e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
        
if __name__ == '__main__' :
    while True:
        os.system('cls')
        print('---상품관리---')
        print('상품 등록 : 1 ')
        print('상품목록조회 : 2')
        print('상품개별조회 : 3')
        print('상품 수정 : 4')
        print('상품 삭제 : 5')
        
        sel = int(input('작업을 선택하세요 : '))
        if sel == 1 :
            mem_create()
            os.system('pause')
        elif sel == 2 :
            mem_read1()
            os.system('pause')
        elif sel ==3 :
            mem_read2()
            os.system('pause')
        elif sel == 4 :
            print('상품 수정기능은 준비중입니다. ')
            os.system('pause')
        elif sel == 5 :
            print('상품 삭제기능은 준비중입니다. ')
            os.system('pause')
        else :
            print('잘못 선택했습니다. ')
            os.system('pause')

---상품관리---
상품 등록 : 1
상품목록조회 : 2
상품개별조회 : 3
상품 수정 : 4
상품 삭제 : 5

In [3]:
import os
import sys
import pymysql
config = {
    'host' : '127.0.0.1',
    'user' : 'root',
    'password' : 'root1234',
    'database' : 'work',
    'port' : 3306,
    'charset' : 'utf8',
    'use_unicode' : True
}

def mem_create():
    try:
        conn = pymysql.connect(**config)
        cursor = conn.cursor()
        
        in_name = input('상품명을 입력하세요 : ')
        if in_name :
            sql = f'select * from goods where NAME = "{in_name}" '
            cursor.execute(sql)
            
            rows = cursor.fetchall()
            if len(rows) > 0 :
                print('이미 존재하고 있습니다. 다른 상품명을 입력하세요')
            else :
                sql = f'insert into good values("{in_name}")'
                cursor.execute(sql)
                rows = cursor.fetchall()
                conn.commit()
                print('상품명 등록에 성공했습니다.')
                print()
        else :
            print('상품명 등록을 위해 상품명을 입력해 주세요')
    except Exception as e :
        print('db 연동 실패 : ', e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
        
def mem_read1():
    try:
        conn = pymysql.connect(**config)
        cursor = conn.cursor()
        
        cursor.execute('select * from goods')
        rows = cursor.fetchall()
        print('===goods 테이블 조회1===')
        print('(name)')
        for row in rows:
            print(row)
            
    except Exception as e :
        print('db 연동 실패 : ', e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
        
def mem_read2():
    try:
        conn = pymysql.connect(**config)
        cursor = conn.cursor()
        
        in_code = input('조회할 상품명을 입력하세요 : ')
        sql = f'select * from goods where NAME = "{in_code}" '
        cursor.execute(sql)
        rows = cursor.fetchall()
        
        if len(rows) > 0 :
            print('===goods 테이블 조회2===')
            for row in rows :
                print('조회 결과는 상품명 : {} 입니다.'.format(row[0]))
        else :
            print('조회 결과 입력한 상품명에 맞는 상품이 없습니다.')
    except Exception as e:
        print('db 연동 실패 : ', e)
        conn.rollback()
    finally:
        cursor.close()
        conn.close()
        
if __name__ == '__main__' :
    while True:
        os.system('cls')
        print('---상품관리---')
        print('상품 등록 : 1 ')
        print('상품목록조회 : 2')
        print('상품개별조회 : 3')
        print('상품 수정 : 4')
        print('상품 삭제 : 5')
        
        sel = int(input('작업을 선택하세요 : '))
        if sel == 1:
            mem_create()
            os.system('pause')
        elif sel == 2:
            mem_read1()
            os.system('pause')
        elif sel == 3:
            mem_read2()
            os.system('pause')
        elif sel == 4:
            print('상품 수정기능은 준비중입니다. ')
            os.system('pause')
        elif sel == 5:
            print('상품 삭제기능은 준비중입니다. ')
            os.system('pause')
        else :
            print('잘못 선택했습니다. ')
            os.system('pause')

---상품관리---
상품 등록 : 1
상품목록조회 : 2
상품개별조회 : 3
상품 수정 : 4
상품 삭제 : 5

===goods 테이블 조회1===
(name)
(1, '냉장고', 2, 850000)
(2, '세탁기', 3, 550000)
(3, '전자레인지', 2, 350000)
(4, 'HDTV', 3, 1500000)
(5, '리튬', 5, 1000)
(6, '쿠에타핀', 100, 1500000)
(7, '명인탄산리튬정', 100, 2500000)